[mysqld]
bind-address=127.0.0.1
mysqlx-bind-address=127.0.0.1
character-set-server=utf8mb4
collation-server=utf8mb4_0900_ai_ci
local-infile=OFF
skip-name-resolve=ON
max-connections=50
max-allowed-packet=64M
innodb-buffer-pool-size=128M
innodb-log-buffer-size=8M
table-open-cache=400
thread-cache-size=8
performance-schema=OFF
